body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: rgb(137, 177, 196);
}

.section {
  margin-bottom: 20px;
}

.doctor, .patient, .appointment {
  border: 1px solid dodgerblue;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

label {
  color: dodgerblue;
}

input[type="text"],
select,
input[type="date"],
input[type="time"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: deepskyblue;
}

.reservations {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

#reservations {
  list-style: none;
}

#reservations li {
  background-color: #ffb6c1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
